<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">
	<test name="CucumberTeckTask" annotations="JDK" preserve-order="true">
		<classes>
			<class name="com.api.myRunner.TestRunner"/>
		</classes>
	</test>
</suite>